@model IEnumerable<Tarefas.Web.Models.TarefaViewModel>
    <table class="table table-dark">
        <tr>
           <td> Id</td>
           <td> Titulo</td>
           <td> Descrisão</td>
           <td> Ação</td>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
           <td> @item.id</td>
           <td> @item.Titulo</td>
           <td> @item.Descrisao</td>
           <td>
            <a asp-action="Details" asp-controller="Tarefas" asp-route-id=@item.id>Detalhes</a>
           </td>
        </tr>
        }
    </table>